#Examples of capability values that can be on a separate .env file

#Android real device
PLATFORM_NAME=Android
OS_VERSION= e.g 10.0
DEVICE_NAME= e.g vsdmea85sg75rgwk
APP_PATH= // Absolute path for .apk
ENFORCE_APP_INSTALL=true or false
APPIUM_SERVER_URL = http://127.0.0.1:4723/wd/hub

#Android emulator
PLATFORM_NAME=Android
OS_VERSION= e.g 10.0
DEVICE_NAME= e.g emulator-5555
APP_PATH= // Absolute path for .apk
ENFORCE_APP_INSTALL=true or false
APPIUM_SERVER_URL = http://127.0.0.1:4723/wd/hub

#iOS Real device
OS_VERSION= e.g 13.4.1
DEVICE_NAME= e.g iPhone Pay
APP_PATH= Absolute path for .ipa
BUNDLE_ID= e.g com.kueski.kali.gatsby
PLATFORM_NAME=iOS
AUTOMATION_NAME=XCUITest
UDID= e.g 0F2DB239-4D3B-4C56-8B39-6B7B397A8568
XCODE_ORG_ID= e.g M4G2C4FYC8
XCODE_SIGNIN_ID=iPhone Developer
APPIUM_SERVER_URL = http://0.0.0.0:4723/wd/hub
NO_RESET=e.g false

#iOS Simulator
OS_VERSION= e.g 13.4.1
DEVICE_NAME= e.g iPhone 11 Pro Max
APP_PATH= Absolute path for .app
BUNDLE_ID= e.g
PLATFORM_NAME=iOS
AUTOMATION_NAME=XCUITest
UDID= e.g 0F2DB239-4D3B-4C56-8B39-6B7B397A8568
XCODE_ORG_ID= e.g M4G2C4FYC8
XCODE_SIGNIN_ID=iPhone Developer
APPIUM_SERVER_URL = http://0.0.0.0:4723/wd/hub
NO_RESET=e.g false

#Browserstack device
OS_VERSION= e.g 9.0
DEVICE_NAME=e.g Google Pixel 3
APP_PATH=e.g bs://06d7240a1b800097c7f8ba7b1fd3058f2ebe012c
PLATFORM_NAME=e.g Android
ENFORCE_APP_INSTALL=e.g true
BROWSERSTACK=e.g true
AUTOMATION_NAME=e.g uiautomator2
APPIUM_SERVER_URL = e.g http://#{username}:#{access_key}@hub-cloud.browserstack.com/wd/hub


